/* line 17, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 1, ../sass/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_global.scss */
html, body {
  width: 100%;
}

/* line 8, ../sass/_global.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 15, ../sass/_global.scss */
body {
  font-size: 12px;
  background: #ededed;
  background: url(../img/stripe-light.png) repeat;
}

/* line 21, ../sass/_global.scss */
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto -40px;
  clear: both;
  *zoom: 1;
  width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../sass/_global.scss */
ol li {
  list-style-type: decimal;
  margin-left: 20px;
}

/* line 2, ../sass/_type.scss */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
  line-height: 1.5;
}

/* line 3, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 4, ../sass/_type.scss */
h1 {
  font-size: 34px;
  font-weight: 700;
  color: #ee1c24;
}

/* line 5, ../sass/_type.scss */
h2 {
  font-size: 20px;
  font-weight: 600;
}

/* line 6, ../sass/_type.scss */
h3 {
  margin-bottom: 15px;
  font-size: 14px;
}

/* line 7, ../sass/_type.scss */
h3, h4 {
  font-size: 12px;
  font-weight: bold;
}

/* line 9, ../sass/_type.scss */
p {
  font-size: 12px;
  margin-bottom: 20px;
}

/* line 10, ../sass/_type.scss */
a {
  color: black;
}
/* line 11, ../sass/_type.scss */
a:hover {
  color: #ee1c24;
}

/* line 14, ../sass/_type.scss */
.content-notice {
  font-weight: 600;
}

/* line 15, ../sass/_type.scss */
.alert {
  color: #ee1c24;
}

/* line 3, ../sass/_nav.scss */
.nav li a, .main--nav li a {
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 8, ../sass/_nav.scss */
.nav li a:hover, .main--nav li a:hover {
  color: #ee1c24;
}

/* line 12, ../sass/_nav.scss */
.nav {
  float: left;
  width: 155px;
  margin-right: 25px;
  background: #343434;
  background: url(../img/stripe-dark.png) repeat;
}
/* line 18, ../sass/_nav.scss */
.nav ul {
  margin: 10px 0;
}
/* line 19, ../sass/_nav.scss */
.nav li {
  padding: 0 10px 5px;
}
/* line 21, ../sass/_nav.scss */
.nav li a {
  display: inline-block;
  color: white;
  font-size: 10px;
  font-weight: 600;
}
/* line 23, ../sass/_nav.scss */
.nav .home {
  display: block;
  height: 70px;
  padding: 0;
  background: #ee1c24;
  background: url(../img/main-nav.png) no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  -webkit-transition: all 200ms ease;
}
/* line 32, ../sass/_nav.scss */
.nav .home:hover {
  background: #64d0f8;
  background: url(../img/main-nav.png) no-repeat;
  background-position: 0 -70px;
}
/* line 38, ../sass/_nav.scss */
.nav .icons {
  text-align: center;
}
/* line 40, ../sass/_nav.scss */
.nav .icons li {
  display: inline-block;
  padding: 0 5px;
}
/* line 41, ../sass/_nav.scss */
.nav .icons li a {
  font-size: 14px;
  color: #959595;
}
/* line 42, ../sass/_nav.scss */
.nav .icons li a:hover {
  color: white;
}

/* line 49, ../sass/_nav.scss */
.main--nav {
  float: left;
  margin-right: 20px;
}
/* line 52, ../sass/_nav.scss */
.main--nav li {
  border-top: 1px solid black;
}
/* line 54, ../sass/_nav.scss */
.main--nav li a {
  display: inline-block;
  width: 230px;
  padding: 5px 0 10px 0;
  font-weight: 600;
}
/* line 61, ../sass/_nav.scss */
.main--nav .nav-floor-plan {
  padding-bottom: 5px;
}
/* line 63, ../sass/_nav.scss */
.main--nav .sub-nav li {
  border-top: none;
}
/* line 65, ../sass/_nav.scss */
.main--nav .sub-nav li a {
  padding: 0 0 10px 10px;
  border: none;
  font-size: 10px;
}

/* line 4, ../sass/_main.scss */
.main {
  position: relative;
  width: 755px;
  float: left;
}
/* line 9, ../sass/_main.scss */
.main .main--header {
  margin-bottom: 20px;
}
/* line 11, ../sass/_main.scss */
.main .main--header h2 {
  margin-bottom: 20px;
}
/* line 13, ../sass/_main.scss */
.main .main--content {
  float: left;
  margin-bottom: 75px;
}
/* line 14, ../sass/_main.scss */
.main .exhib-content {
  width: 505px;
  float: left;
}
/* line 17, ../sass/_main.scss */
.main .exhib-content ul {
  float: left;
  padding-right: 65px;
  margin-bottom: 25px;
}
/* line 22, ../sass/_main.scss */
.main .exhib-content a {
  text-transform: none;
}
/* line 23, ../sass/_main.scss */
.main .exhib-content a img {
  margin: 20px 0;
}
/* line 27, ../sass/_main.scss */
.main #nav-marketing ul, .main #nav-faq ul {
  float: none;
}

/* line 1, ../sass/_faq.scss */
.faq-question {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

/* line 8, ../sass/_faq.scss */
.faq-content h4 {
  margin-bottom: 5px;
}
/* line 9, ../sass/_faq.scss */
.faq-content address {
  margin-bottom: 20px;
}
/* line 10, ../sass/_faq.scss */
.faq-content ul {
  float: none !important;
}
/* line 11, ../sass/_faq.scss */
.faq-content li {
  font-size: 12px;
}

/* line 16, ../sass/_faq.scss */
.guide-exhib-l, .guide-exhib-r {
  float: left;
  width: 45%;
}
/* line 19, ../sass/_faq.scss */
.guide-exhib-l a.content-notice, .guide-exhib-r a.content-notice {
  text-transform: uppercase;
}

/* line 21, ../sass/_faq.scss */
.guide-exhib-l {
  margin-right: 40px;
}

/* line 22, ../sass/_faq.scss */
.guide-exhib-r {
  margin-right: 0;
  padding-right: 0;
}
/* line 25, ../sass/_faq.scss */
.guide-exhib-r ul {
  width: 350px;
  padding-right: 0;
}
/* line 26, ../sass/_faq.scss */
.guide-exhib-r li {
  line-height: 1.5;
}
/* line 27, ../sass/_faq.scss */
.guide-exhib-r span {
  display: inline-block;
  font-weight: 600;
  text-align: right;
  width: 15px;
  margin-right: 5px;
}

/* line 1, ../sass/_booths.scss */
.booth-display {
  margin-bottom: 25px;
}
/* line 3, ../sass/_booths.scss */
.booth-display select {
  width: 300px;
  margin-bottom: 10px;
}

/* line 1, ../sass/_footer.scss */
.footer {
  height: auto;
  padding: 0 20px;
  line-height: 40px;
  color: white;
  background: url(../img/stripe-dark.png) repeat;
  clear: both;
}
/* line 8, ../sass/_footer.scss */
.footer a {
  color: #ee1c24;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 12, ../sass/_footer.scss */
.footer a:hover {
  color: white;
}
/* line 14, ../sass/_footer.scss */
.footer ul {
  margin: 0;
  display: inline-block;
}
/* line 15, ../sass/_footer.scss */
.footer li {
  margin: 0;
  display: inline-block;
}
/* line 16, ../sass/_footer.scss */
.footer .address li {
  margin: 0 10px 0 0;
}
/* line 17, ../sass/_footer.scss */
.footer .address li:first-child {
  margin-left: 0;
}
/* line 18, ../sass/_footer.scss */
.footer .address li:last-child {
  margin-right: 0;
}
/* line 19, ../sass/_footer.scss */
.footer .contact {
  float: right;
  text-align: right;
}
@media only screen and (max-width: 921px) {
  /* line 1, ../sass/_footer.scss */
  .footer {
    height: auto;
  }
  /* line 24, ../sass/_footer.scss */
  .footer .contact {
    display: none;
  }
  /* line 25, ../sass/_footer.scss */
  .footer ul {
    display: block;
  }
  /* line 26, ../sass/_footer.scss */
  .footer .address li {
    margin-left: 0;
  }
  /* line 27, ../sass/_footer.scss */
  .footer .address li:last-child {
    margin-right: 0;
  }
}
