*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body {
  width: 100%; 
}
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px

}

body {
  font-size: 12px;
  background: $background-color;
  background: url(../img/stripe-light.png) repeat;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto -40px;
  clear: both;
  @include container;
}

ol li { list-style-type: decimal; margin-left: 20px;}

