// Page Navigation
.nav, .main--nav {
	li a {
		font-size: 12px;
		line-height: 1.5;
		text-decoration: none; 
		text-transform: uppercase;
		&:hover {color: $enk-red;}
	}
}

.nav {
	float: left;
	width: 155px;
	margin-right: 25px;
	background: $nav-background-color;
	background: url(../img/stripe-dark.png) repeat;
	ul {margin: 10px 0;}
	li {
		padding: 0 10px 5px;
		a {display: inline-block; color: $white; font-size: 10px; font-weight: 600; }
	}
	.home {
		display: block;
		height: 70px;
		padding: 0;
		background: $enk-red;
		background: url(../img/main-nav.png) no-repeat;
		background-position: 0 0;
		text-indent: -9999px;
		-webkit-transition: all 200ms ease;
		&:hover {
			background: $enk-blue;
			background: url(../img/main-nav.png) no-repeat;
			background-position: 0 -70px;
		}
	}
	.icons {
		text-align: center;
		li {display: inline-block; padding: 0 5px;}
		li a { font-size: 14px; color: $social-icons;
			&:hover {color: $white;}
		}
	}
}


// Main Navigation
.main--nav {
	float: left;
	margin-right: 20px;
	li {
		border-top: 1px solid $black;
		a {
				display: inline-block;
				width: 230px;
				padding: 5px 0 10px 0;
				font-weight: 600;
			}
	}
	.nav-floor-plan {padding-bottom: 5px;}
	.sub-nav {
		li {
			border-top: none;
			a {
				padding: 0 0 10px 10px;
				border: none;
				font-size: 10px;
			}
		}
	}
}