
// Type

$main-font: 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;  
$main-font-weight: 400;
$main-font-style: normal;

// Color
$white: #fff;
$black: #000;
$background-color: #ededed;
$nav-background-color: #343434;
$enk-red: #ee1c24;
$enk-blue: #64d0f8;
$social-icons: #959595;